<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
</head>
<body>
  <div id="app"></div>
  <script>
    const state = {count: 0}
    const app = document.getElementById("app")
    app.innerHTML = state.count
    let active
    function defineReactive(obj) {
      for(const key in obj){
        let value = obj[key]
        const dep = []
        Object.defineProperty(obj, key, {
          get(){
            if(active){
              dep.push(active)
            }
            return value
          },
          set(newVal) {
            value = newVal
            dep.forEach(watcher => watcher())
          }
        })
      }
    }
    defineReactive(state)
    const watcher = (fn) => {
      active = fn
      fn()
      active = null
    }
    watcher(() => {
      app.innerHTML = state.count
    })

  </script>
</body>
</html>