<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
</head>
<body>
  <div id="app"></div>
  <script>
    Function.prototype.myCall = function (context, ...args) {
      if(typeof this !== 'function'){
        throw TypeError(this+ 'is not a function')
      }
      context = context || window
      const func = Symbol()
      context[func] = this
      console.log(args)
      const result = context[func](...args)
      delete context[func]
      return result
    }
    const obj = {
      name: '123',
      func: function () {
        console.log('222')
      }
    }
    function test() {
      console.log(this.name)
    }
    test.myCall(obj, 1, 2, 3)
  </script>
</body>
</html>