<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <style>
  </style>
</head>
<body>
  <div id="app"></div>
</body>
  <script>
    class MyPromise{
      constructor(fn){
        this.state = 'pending'
        this.callbacks = []
        try{
          fn.call(this, this.resolve.bind(this), this.reject.bind(this))
        }catch (e) {
          this.value = e
          this.reject.call(this, e)
        }
      }

      resolve(value){
        this.state = 'fulfilled'
        this.value = value
        this.run()
      }

      reject(value){
        this.state = 'rejected'
        this.value = value
        this.run()
      }

      then(onFulFilled, onRejected){
        return new MyPromise((resolve, reject) => {
          this.handle({
            onFulFilled,
            onRejected,
            resolve,
            reject
          })
        })
      }

      catch(onRejected){
        this.state = 'rejected'
        return this.then(undefined, onRejected)
      }

      run(){
        setTimeout(() =>{
          this.callbacks.forEach(callback => {
            this.handle(callback)
          })
        }, 0)
      }

      handle(callback){
        if(this.callbacks.length === 0){
          this.callbacks.push(callback)
          return
        }
        let fn = this.state === 'fulfilled' ? callback.onFulFilled : callback.onRejected
        if(!fn){
          fn = this.state === 'fulfilled' ? callback.resolve : callback.reject
          fn(this.value)
          return
        }
        try{
          let res = fn(this.value)
          callback.resolve(res)
        }catch (e) {
          this.value = e
          callback.reject(e)
        }
      }
    }
    const p = new MyPromise((resolve, reject) => {
      console.log(999)
      resolve(123)
    })

    p.then(res => {
      console.log(res)
    }, err => {
      console.log(err,222)
    })
  </script>
</html>